@import url("../global.css");

/*
This file contains the unique styles needed for example.html which do not appear in /css/global.css
----------------------------------------------------------------------------------------
*/

html { 
  background: rgb(244, 244, 244);
  }

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/
h1 {
  text-align: center;
  font-size: 2.618em;
  line-height: 1.2em;
  text-transform: uppercase;
  }

h2{
    color: #FF9A59;
    text-transform: uppercase;
    font-size: 1.438em;
    margin: 1.563em 0;
}

h3 { text-transform:uppercase; letter-spacing:0.12em; }
h3, h4, h5, h6 { font-weight: bold; }

ul li{
    /*background: url("../../images/list-arrow.png") left center no-repeat ;*/
    list-style-image:url("../../images/list-arrow.png");
    padding: 0 0 0 0.538em;
    margin:0 0 0 1.308em;
    
}

p.intro, p.outro { color: #ccc; margin-bottom: 1.308em }

header { }
#header-overlay{ position: absolute; background: url("../../images/header-container-bg.png") repeat-x ; top:0; width: 100%; height: 100%;}
header .logo-container { background: url("../../images/header-bg.png") 50% 0% no-repeat; height: 7.188em; }  
header .logo-container a.logo, header .logo-container a.phone{
    height: 7.188em;
    display: block;
    line-height:  7.188em;
}
header .logo-container a.logo img, header .logo-container a.phone img{
    vertical-align: middle;
}
header { text-align:center;}
header .header-top{
    font-family: Arial, Helvetica, Sans-serif;
    color: #ccc;
    text-transform: uppercase;
    font-size: 0.750em;
}
header .header-separator{
    width:100%;
    background:url("../../images/header-separator.png") repeat-x ;
    height: 0.188em;
    display: block;
}
header a.logo span{
    text-indent: -999em;
}
header .banner {
    max-width: 100%;
    padding: 0.625em;
    border: solid 1px #626262;
}
header .banner img{
    max-width:  100%;
}
/* header end */
/* article begin */

article{ border-top: 1px solid #626262; margin: 1.250em 0; }
article .description{ margin: 1.154em 0 }
article .article-title, .prices .prices-title{
    width: 100%;
    border-bottom: 1px solid #626262;
    padding: 0.938em 0 ;
}
article .article-title h1, .prices .prices-title h1{
    color: #FF9A59;
    text-transform: uppercase;
    line-height: 120%;
    text-align: left;
    font-size: 1.438em;
}
article section h2{
    border-bottom: 1px solid #626262;
    padding: 0.938em 0;
    margin: 0;

}
article section.gray{
    background: #333;
    padding: 2.222%;
    margin-bottom: 2em;
}
article section.gray h2{
    font-size: 1em;
    color: #0099FF;
    text-transform: none;
    line-height: 120%;
    font-family: din,Arial, Helvetica, Sans-serif;
    margin: 0 0 0.875em;
}
article section.gray p{
    color: #ccc;
}

article .two-one .description{
    margin: 0;
}
article .two-one .description section{
    margin: 1.154em 0;
    
    
}
.prices .prices-title{ margin: 1.154em 0 }
.prices .prices-info{ color: #FF9959; margin-top: 1.846em; }
/* article end */

/* prices begin */
.prices{ display: table; word-wrap: break-word;  }

.prices .pricesRow{  margin-bottom: 0.313em; display: table-row;border-bottom: solid 5px transparent;}

.prices .pricesLabel{ 
    width: 69.333%; 
    background: #333; 
    display:table-cell; 
    overflow: auto; 
    height:100%; 
    font-size: 1em; 
    color: #fff; 
    font-family: din, Arial, Helvetica, Sans-serif; 
    padding:2.222%; 
}

.prices .pricesValue{ 
    width: 23.888%; 
    background: #3f3f3f; 
    display:table-cell; 
    overflow:auto;
    height: 100%; 
    color: #FF9959;
    text-align: right;
    font-size: 1.438em;
    padding: 1.888% 1.5556% 0 0;
}
.prices .table-separator{
    display: block;
    width:100%;
    height: 0.313em;
    clear:both;
}
/* prices end */

/* address begin */
.address{ display: table; width: 100%; word-wrap: break-word; }

.address .addressRow{  margin-bottom: 0.313em; display: table-row;border-bottom: solid 5px transparent; }

.address .addressLabel{ 
    width: 20.8888%; 
    background: #333; 
    display:table-cell; 
    /*overflow: auto; */
    height:100%; 
    font-size: 1em; 
    color: #fff; 
    font-family: din, Arial, Helvetica, Sans-serif; 
    padding: 0.7778% 2.4445%; 
}

.address .addressValue{ 
    width: 68.8888%; 
    background: #3f3f3f; 
    display:table-cell; 
    overflow:auto;
    height: 100%; 
    color: #FF9959;
    text-align: right;
    font-size: 1em;
    padding: 0.7778% 2.4445%;
}
.address .table-separator{
    display: block;
    width:100%;
    height: 0.313em;
    clear:both;
}
/* address end */

/* googlemap begin */

.googlemap-wrapper{
    padding: 0.625em;
    border: 1px solid #626262;
    margin-bottom: 2em;
    
}
.googlemap{
    height: 14.750em;
}

/* googlemap end */

footer {
  color: #ffffff;
  border-top: 1px solid #626262;
  padding-top: 1em;
}
  
footer a{ 
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    color:#484848 !important;
    font-size: 0.563em;
}
footer a:hover{ 
    
}


bside{
  /*margin:1.618em 0 0;*/
  padding: 1.618em 0 ;
  
}
aside{
    float: none;
}
aside a.pic-link{
    border: 1px solid #E2E2E2;
    padding: 0.313em;
    background: #fff;
    display: block;
    line-height: 0;
}
.reference-box{
    float: none;
}
.reference-box ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: block;
    border-top: 1px solid #EFEFEF ;
}
.reference-box ul li{
    clear:both;
    border-bottom: 1px solid #EFEFEF;
    display: block;
    height: 2.5em;
    line-height: 2.5em;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.813em;
    color: #999;
}
.reference-box ul li span.data{
    color: #E2493D;
}


/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
  
header img#header-logo { margin-bottom:-1.125em; float:left }

header h2:before {
  content:"";
  border-bottom:1px solid #333;
  height: 1.618em;
  width: 35%;  
  display: block;
  float: left;
}

header h2:after {
  content:"";
  border-bottom:1px solid #333;
  height: 1.618em;
  width: 35%;
  display: block;
  float: right;
}

article{ }

/* social begin */
#social {
    background: none; 
    z-index: 10;
    position: absolute;
    width: 100%;
    left: 0;
}
#social #social-back{
   width: 100%; background:url("../../images/example/social-container-bg.png") ;
    }
#social #social-container{  
    height: 10.625em; 
    max-width: 57.5em;
    min-width: 44.764em;
    margin: 0 auto;
}
#social #social-container .section{
    width: 18.75em;
    float: left;
    margin-right:0.625em;
}
#social #social-container .section h1{
    color: #5C140E;
    font-size: 1.438em;
    line-height: 1.957em;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 1px 1px 3px #F8CCC9;
}
body.ie6 #social-container .section h1,
body.ie7 #social-container .section h1,
body.ie8 #social-container .section h1,
body.ie9 #social-container .section h1{ 
    zoom: 1; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(Color=#ccc)
                 progid:DXImageTransform.Microsoft.DropShadow(Color=#F8CCC9, OffX=2, OffY=2)";
    filter:        
        progid:DXImageTransform.Microsoft.Chroma(color=#ccc) 
        progid:DXImageTransform.Microsoft.DropShadow(color=#F8CCC9, offx=2, offy=2);
	  
}

#social #social-container .section a,
#social #social-container .section a:visited,
#social #social-container .section a:active{
    padding-left: 0.313em;
    width: 18.75em;
    height: 1.875em;
    line-height: 1.875em;
    background:url("../../images/example/social-section-link-bg.png") no-repeat;
    color: #ffffff;
    font-size: 0.938em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
#social #social-container .section a:hover,
#social #social-container .section a:focus{
    background:url("../../images/example/social-section-link-hover-bg.png") no-repeat;
    color: #E34C40;
}
#social #social-container .section a span{}
#social #social-container .section a span img{
    line-height: 1.875em;
    vertical-align: middle;
}
#social #social-container .section ul { list-style: none; font-family: "Trebuchet", MS Sans Serif, Geneva, Sans-serif; font-weight: normal; margin: 0;}
#social #social-container .section  ul li{ 
    background: url("../../images/example/list-item-arrow.png") left center no-repeat;
    height: 1.563em;
    padding-left: 0.5em;
    border-bottom: 1px dotted #E86E64;
}

#social #social-container .section ul li a,
#social #social-container .section ul li a:visited,
#social #social-container .section ul li a:active{
    background: none;
    font-size: 0.667em;
    text-transform: none;
    line-height: 2.5em;
    height: 100%;
}
#social #social-container .section ul li a:hover,
#social #social-container .section ul li a:focus{
    background: none;
    color: #ffffff;
    text-decoration: underline;
}
#social #social-container .section ul li a span{
     background: none;
}
#social .link-back{
    max-width: 57.5em;
    min-width: 44.764em;
    margin: 0 auto;
}
#social .link-back a{float: right; width:10.5em; text-align: center; background: url("../../images/example/social-bg.png") top center no-repeat; font-size: 1.125em; text-decoration: none; text-transform: uppercase; color: #ffffff;}
#social .link-back a span{background: url("../../images/example/social-arrow-down.png") right center no-repeat; padding-right: 1em; }


/* social end */


/* category navigation begin */
#category-navigation{
}
#category-navigation ul{
     
}
#category-navigation ul li{
    width: 6.25em;
    height: 1.375em;
    text-align: center;
    margin-right: 1em;
    
}
#category-navigation ul li a,
#category-navigation ul li a:visited,
#category-navigation ul li a:active{
    line-height: 1.375em;
    color: #E34D41;
    background: #fff;
    font-size: 1.125em;
    text-decoration: none;
    text-transform: uppercase;
    
}
#category-navigation ul li a:hover,
#category-navigation ul li a:focus{
    background: #E34D41;
    color: #fff;
}
#category-navigation ul li a span{
}

/* category navigation end */

/* footer begin */
footer p {}
footer .footer-back{
    max-width: 57.5em;
    margin: 0 auto;
    background:url("../../images/example/footer-bg.png") top left no-repeat ;
}
footer .footer-back .footer-section{
    width: 100%;
}
footer ul{
    margin: 0;
}
footer ul li, footer p{
    list-style: none;
    font-family: Arial, Helvetica, Sans-serif;
    color: #A39D9D;
    font-weight: normal;
    font-size: 0.625em;
    max-width: 48em; /* 10px az alap */
}
footer ul.address li{
    padding-left: 2em; /* mert 0.625em font-size az 10px és így lesz 20px*/
}

footer ul li.city{
    background:url("../../images/example/address-city-bg.png") 0 50% no-repeat ;
}
footer ul li.mail{
    background:url("../../images/example/address-mail-bg.png") 0 50% no-repeat ;
}
footer ul li.phone{
    background:url("../../images/example/address-phone-bg.png") 0 50% no-repeat ;
}
footer ul li.fax{
    background:url("../../images/example/address-fax-bg.png") 0 50% no-repeat ;
}

footer p{
    padding: 0 2em;
    text-align: justify;
}
footer li{
    padding-bottom: 0.5em;
    margin: 0 auto;
    width: 13.725em;
}

footer li label{
}
footer li textarea{
    font-family: Arial, Helvetica, Sans-serif;
    height: 4.65em;
}
footer li input{
    height: 1.875em;
}
footer li input, footer li textarea{
    display: block;
    background: #A39D9D;
    width: 13.725em; /* 13.333 px az alap*/
    border: none;
    background: #A39D9D;
    resize: none;
    padding: 0;
    margin: 0;
}
/* 13.333 az alap */
footer button{
    height: 1.875em;
    width: 13.725em;
    background: #DF3426;
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    text-align: center;
    color: #fff;
}
/* footer end */
